 <h2>Create a Team and Heroes!</h2>
 <form method="post" action="/team">
   <h3>TEAM DETAILS</h3>
   <% Team.accessor_symbols.each{ |sym| %>
     <p><%= format_label(sym) %>: <input type="text" name="team[<%= sym.to_s %>]"></p>
   <% } %>

   <h3>TEAM'S SUPERHEROES</h3>
   <% for i in 1..HERO_COUNT do %>
     <h4>Superhero <%= i %></h4>
     <% Superhero.accessor_symbols.each{ |sym| %>
       <p><%= format_label(sym) %>: <input id="superhero_<%= i %>_<%= sym.to_s %>" type="text" name="team[superheros][][<%= sym.to_s %>]"></p>
     <% } %>
   <% end %>
  <br>
  <button type="submit" value="submit">Submit</button>
 </form>
