
<h1><%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %> </h2>

<ul>
  <% @superheroes.each do |hero| %>
      <li>Hero Name: <%= hero.name %></li>
      <li>Hero Power: <%= hero.power %></li>
      <li>Hero Biography: <%= hero.bio %></li>
      <p></p>


  <% end %>


</ul>
