<p>Team <%= params[:team][:name] %></p>
<p>Team Motto: <%= params[:team][:motto] %></p>

<% params[:team][:members].each do |m| %>
  <p>Hero Name: <%= m[:name] %></p>
  <p>Hero Power: <%= m[:power] %></p>
  <p>Hero Biography: <%= m[:biography] %></p>
<% end %>
