<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1><%=@team.name%></h1>

    <h1>Team Motto: <%=@team.motto%></h1>

    <h1>Hero Name: <%=@hero[0].name%></h1>
    <h2>
      Hero Power: <%=@hero[0].power%>
      Hero Biography: <%=@hero[0].biography%>
    </h2>

    <h1>Hero Name: <%=@hero[1].name%></h1>
    <h2>
      Hero Power: <%=@hero[1].power%>
      Hero Biography: <%=@hero[1].biography%>
    </h2>

    <h1>Hero Name: <%=@hero[2].name%></h1>
    <h2>
      Hero Power: <%=@hero[2].power%>
      Hero Biography: <%=@hero[2].biography%>
    </h2>

  </body>
</html>
