



<html>
<head>
  <meta charset="UTF-8">
  <title>Super Heroes</title>
</head>
<body>
  <h1><%= @team.name %></h1>
  <p>Team Motto: <%= @team.motto %></p>
  <% @super_heroes.each do |super_hero| %>
    <h2>Hero Name: <%= super_hero.name %></h2>
    <p>Hero Power: <%= super_hero.power %></p>
    <p>Hero Biography: <%= super_hero.bio %></p>
  <% end %>
</body>
</html>
